.movie-page {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}

header {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.title-container {
  color: white;
  margin: 2rem 0rem;
  padding: 1rem 0rem;
  font-size: 3rem;
}

.title-container .colored {
  background: linear-gradient(to top left, blue, rgb(0, 89, 255));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.movie-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.movie-card {
  height: 560px;
  width: 320px;
  display: flex;
  flex-direction: column;
  color: rgb(20, 20, 37);
  background: linear-gradient(-45deg, rgb(243, 242, 252), rgb(225, 230, 240));
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0 0 0 / 0.2);
  border: 3px solid rgba(19, 20, 22, 0.315);
  animation: appear 0.2s;
}

.movie-card.skeleton {
  height: 560px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(14, 11, 22, 0.548);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: inset 0px 0px 50px 2px rgba(0, 0, 0, 0.479);
}

.movie-card.skeleton:after {
  content: "";
  position: absolute;
  left: -210%;
  width: 200%;
  height: 200%;

  background: linear-gradient(
    75deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.1) 42%,
    rgba(255, 255, 255, 0.5) 55%,
    rgba(255, 255, 255, 0.15) 62%,
    rgba(255, 255, 255, 0) 70%
  );

  animation: slide 1.25s infinite;
}

@keyframes slide {
  0% {
    opacity: 0%;
    transform: translateX(20%);
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    transform: translateX(140%);
  }
}
.image-container {
  height: 60%;
  width: 100%;
}

.poster-image {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: calc(1rem - 4px);
}

.title {
  font-size: 1.33rem;
  text-wrap: balance;
  text-shadow: 0px 0px 10px rgba(37, 39, 58, 0.103);
}

.load-button {
  background: rgb(14, 11, 22);
  padding: 1rem;
  cursor: pointer;
}

.infinite-scroll-container {
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.search-bar-container {
  max-width: 320px;
  margin-bottom: 5rem;
}

.search-bar-wrapper {
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
}

.search-bar,
.search-button {
  padding: 1rem;
  font-size: 1.25rem;
}

.search-bar {
  background: rgb(14, 11, 22);
  border-radius: 1rem 0rem 0rem 1rem;
  box-shadow: 0px 0px 10px 0px rgba(38, 43, 82, 0.2);
  width: 268px;
}

.search-bar:focus,
.search-bar:hover {
  box-shadow: inset 0px 0px 0px 2px rgb(107, 115, 126);
}

.search-button {
  background: rgb(222, 220, 238);
  color: rgb(14, 11, 22);
  display: flex;
  cursor: pointer;
}

.search-button:hover {
  p {
    transform: scale(115%);
    transition: all 0.3s;
  }
}

.search-button:active {
  background: rgb(22, 75, 189);
  color: rgb(222, 220, 238);
  transition: background-color 0.1s;
}

.category-container {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  background-color: rgb(54, 112, 219);
  border-radius: 0.25rem;
  padding: 0.1rem 0.33rem;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(38, 43, 82, 0.2);
}

.rating-container {
  margin-top: 0.5rem;
  color: rgb(240, 164, 0);
}

.star {
  filter: drop-shadow(0px 0px 10px rgba(38, 43, 82, 0.2));
}

.content-container {
  padding: 0.75rem;
}

.play-button-container {
  position: absolute;
  padding: 0rem 1rem;
  width: 100%;
  top: calc(60% - 32px);
  font-size: 1.5rem;
}

.play-button {
  background: linear-gradient(135deg, rgb(48, 34, 172), rgb(24, 11, 139));
  color: rgb(242, 245, 250);
  border-radius: 50%;
  float: right;
  height: 64px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(38, 43, 82, 0.2);
  z-index: 2;
}

.play-button:hover {
  transform: scale(108%);
  transition: all 0.25s;
}

.language,
.release-year,
.length {
  color: rgb(84, 98, 121);
}

@keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
